-
    var socialItems = [
        {
            name: "vk",
            link: "https://vk.com/id344774767"
        },
        {
            name: "github",
            link: "https://github.com/Dmitry-H"
        },
        {
            name: "in",
            link: "https://www.linkedin.com/in/%D0%B4%D0%BC%D0%B8%D1%82%D1%80%D0%B8%D0%B9-%D1%85%D0%B0%D0%B9%D1%81-488b58148/"
        }
    ];

-
    var menuItems = [
        {
            name: "Мои работы",
            page: "my-works.html"
        },
        {
            name: "Обо мне",
            page: "about.html"
        },
        {
            name: "Блог",
            page: "blog.html"
        },
        {
            name: "Авторизация",
            page: "index.html"
        }
    ];

-
    var instructors = [
        {
            text: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!",
            name: "Ковальчук Дмитрий",
            position: "основатель Loftschool",
            photo: "kovalchuk.jpg"
        },
        {
            text: "Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!",
            name: "Сабанцев Владимир",
            position: "преподаватель",
            photo: "sabancev.jpg"
        }
    ];

-
    var contacts = {
        skype: "nope",
        email: "haysd@yandex.ru",
        phone: "+7 909 336 98 82",
        address: "г. Саратов, ул. пензенскя, д. 25"
    };

-
    var skills = {
        frontend: ["Frontend", "HTML5", "CSS3", "JavaScript & jQuery"],
        backend: ["Backend", "PHP", "mySQL", "Node.js & npm", "Mongo.db"],
        workFlow: ["WorkFlow", "Git", "Gulp", "Bower"]
    };

-
    var tabs = [
        {
            name: "tab 1",
            link: "admin-skills.html"
        },
        {
            name: "tab 2",
            link: "admin-blog.html"
        },
        {
            name: "tab 3",
            link: "admin-works.html"
        },
        {
            name: "tab 4",
            link: "#"
        }
    ];