$otherFonts: ", Arial, sans-serif";
$robotolight: robotolight + $otherFonts;
$robotomedium: robotomedium + $otherFonts;
$robotobold: robotobold + $otherFonts;
$robotoregular: robotoregular + $otherFonts;
$sansus_webissimoregular: sansus_webissimoregular + $otherFonts;

$decor-animation-delay: 0.3s;

$button-color: #e7a731;
$button-color-hover: #cd8920;
