.page-header {
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $robotoregular;
  color: #fff;
  background-color: #e7a731;

  &__title {
    margin: 0;
    font-size: 28px;
    font-family: $robotomedium;
    font-weight: normal;
  }

  &__return {
    display: block;
    color: #fff;
    font-size: 16px;
    opacity: 0.7;
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }

  @include tablet {
    &__title {
      font-size: 21px;
    }
  }
}