.works {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    margin: 0;
    margin-bottom: 15px;
  }

  &__input {
    margin-bottom: 20px;
    padding: 13px 18px;
    width: 300px;
    @include input-style;
  }

  &__file-upload {
    margin-bottom: 160px;
    position: relative;
    overflow: hidden;
    opacity: 0.7;
    transition: $decor-animation-delay;

    &:hover {
      opacity: 1;
    }
  }

  &__upload-input {
    position: absolute;
    transform: translateX(-110%);
  }

  &__ubload-button {
    display: block;
    padding: 10px 0;
    padding-left: 46px;
    font-family: $robotoregular;
    font-size: 16px;
    color: #e7a731;
    cursor: pointer;
    background: url(../img/upload-icon.png) no-repeat left center;
  }
}