extends ../page-template

block variables
    - var title = "Обо мне"

block content
    include ../common/page-header
    ul.detail-info
        li.detail-info__header-column
            h1.detail-info__main-header Обо мне
        li.detail-info__about-me
            h2.detail-info__header Кто я
            p.detail-info__text Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p.detail-info__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        li.detail-info__skills
            h2.detail-info__header Чем я могу быть вам полезен
            ul.detail-info__skills-detail
                li.detail-info__skills-detail-item
                    h3.detail-info__skills-detail-header Frontend
                li.detail-info__skills-detail-item
                    h3.detail-info__skills-detail-header Backend
                li.detail-info__skills-detail-item
                    h3.detail-info__skills-detail-header WorkFlow