extends ../page-template

block variables
    - var title = "Блог"
    - var currentPage = "blog"

block header
    include ../blocks/preloader-head
    link(rel="stylesheet" href="./css/style.min.css")

block content
    main.main-container.main-container--blog
        .main-container__preloader.preloader
            include ../blocks/preloader
        .main-container__swipe-sidebar.swipe-sidebar
            .swipe-sidebar__contents
                +blogContents(blogposts, "swipe-sidebar__article-name", "swipe-sidebar__article-name--active")

            .swipe-sidebar__appendix
        .main-container__content-wrapper
            include ../blocks/blog-header
            section.blog
                aside.blog__contents
                    .blog__contents-wrapper
                        +blogContents(blogposts, "blog__article-name", "blog__article-name--active")

                section.blog__articles
                    +blog(blogposts)
            +footer
            +fullscreen-menu(menuItems, currentPage)
    