extends ../page-template
include ../common/mixins

block variables
    - var title = "Главная страница"
    include ../common/data
block content

    main.main-wrapper
        header.small-header
            .small-header__logon
                a.logon-button(href="#") Авторизоваться
        .main-wrapper__content
            article.developer-card
                .developer-card__developer-info
                    include ../common/developer-info
                .developer-card__socials
                    +socials(socialItems)
                .developer-card__menu
                    +menu(menuItems)
        footer.small-footer © Дмитрий Хайс | создано с любовью в LoftSchool | 2018