header.page-header.page-header--blog
    include ./header-header
    include ./developer-photo
    h2.common-title.common-title--blog.common-title--light Блог
    span.page-header__header-description Статьи, которые я написал (нет)
    a.page-header__arrow-down.page-header__arrow-down--blog(href="#")
        +icon("arrow_down", "navigate-arrow")
