header.page-header.page-header--blog
    include ./header-header
    include ./developer-photo
    h2.common-title.common-title--blog.common-title--light Блог
    span.page-header__header-description Статьи, которые я написал (нет)
