.developer-info
    .developer-info__photo-wrapper
        include ./developer-photo
    .developer-info__text
        h2.developer-info__name Хайс Дмитрий
        span.developer-info__descriptin Личный сайт веб разработчика