footer.page-footer
    .page-footer__column
        span.page-footer__description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        span.page-footer__autor © Хайс Дмитрий
        span.page-footer__loweloft Создано с любовью в LoftSchool | 2018
    .page-footer__column.page-footer__column--lines
        .page-footer__navigation
            +menu(menuItems, "footer-nav")
        .page-footer__socials
            +socials(socialItems)
    .page-footer__column
        +contacts(contacts)