header.page-header
    .page-header__header
        +socials(socialItems, "header")
        .page-header__humburger-button
            include ./humburger-button
    .page-header__developer-info
        +developer-info("header")
    a.page-header__arrow-down(href="#")
        +icon("arrow_down", "page-header__arrow-down-image")