block variables
include ./common/mixins
include ./common/data
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        title #{title}
        block header
    body
        block content
        script(src="./js/script.js")
        block bottom-scripts