.about-me {
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/about-me-bg.png) no-repeat left top;
  background-color: #f0e6d2;
  //background-size: 1920px;
  background-size: cover;
  position: relative;

  &__header {
    text-align: center;
  }

  &__feedbacks {
    @include list-style;
    margin-bottom: 70px;
    display: flex;
  }

  &__contact {
    margin-bottom: 70px;
    border-radius: 5px;
    overflow: hidden;
  }

  @include tablet {
    padding-bottom: 48px;

    &__contact {
      margin-bottom: 48px;
    }
  }

  @include phone {
    padding: 0 10px 24px;

    &__feedbacks {
      flex-direction: column;
      align-items: center;
    }

    &__contact {
      margin-bottom: 70px;
    }
  }
}