.detail-info {
  display: flex;

  &__column {
    width: 50%;
    box-sizing: border-box;

    &--about {
      display: flex;
      background-color: #efeee9;

      @include small-desktop {
        flex-direction: column;
        padding-bottom: 40px;
      }
    }

    &--skills {
      padding: 0 40px 65px;
      background-color: #eeebdf;

      @include small-desktop {
        padding: 0 0 65px 30px;
      }
    }
  }

  &__title-wrapper {
    text-align: center;
  }

  &__header {
    flex-shrink: 0;
    padding-left: 50px;

    @include small-desktop {
      padding-left: 0;
      text-align: center;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    flex-grow: 0;
    flex-shrink: 10;

    @include small-desktop {
      padding: 0 80px;
    }
  }

  &__photo-wrapper {
    height: 390px;
    overflow: hidden;
  }

  &__photo {
    display: block;
    width: 100%;
  }

  &__text {
    margin: 0;
    margin-bottom: 15px;
    font-family: $robotoregular;
    font-size: 16px;
    line-height: 24px;
    color: #5d5a55;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include tablet {
    flex-direction: column;

    &__column {
      width: 100%;

      &--skills {
        padding: 0 65px 30px;
      }
    }

    &__about {
      padding: 0 147px;
    }

    &__text {
      font-size: 14px;

      &--profit {
        padding: 0 87px;
      }
    }
  }

  @include phone {
    &__about {
      padding: 0;
    }

    &__text {
      padding: 0 10px;
    }

    &__column {
      &--skills {
        padding: 0 0 30px;
      }
    }
  }
}