.footer-nav {

  &__items {
    @include list-style;
    display: flex;
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-family: $robotomedium;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: $decor-animation-delay;

    &:hover {
      color: $button-color-hover;
    }
  }

  @include tablet {

    &__item {
      margin-right: 15px;
    }

    &__link {
      font-size: 14px;
    }
  }

  @include phone {
    &__item {
      margin-right: 10px;
    }
  }
}