.humburger-button {
  display: block;

  &__icon {
    width: 40px;
    height: 35px;
    fill: #fff;
    opacity: 0.7;
    transition: $decor-animation-delay;

    &:hover {
      opacity: 1;
    }
  }

  @include phone {

    &__icon {
      width: 29px;
      height: 26px;
    }
  }
}