.mail-form {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/about-me-bg.png) no-repeat;
    background-position: inherit;
    z-index: -10;
    filter: blur(20px);
  }

  &__header {
    text-align: center;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  &__input-field {
    margin-bottom: 20px;
    padding: 13px 20px;
    width: 340px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: $robotoregular;
    font-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__message {
    height: 140px;
    resize: none;
  }

  &__info {
    font-family: $robotomedium;
    text-align: center;
  }

  &__controls {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }

  &__button {
    margin-right: 2px;
    flex-shrink: 2;
    width: 50%;

    &:last-child {
      margin-right: 0;
    }
  }

  @include phone {
    &__input-field {
      width: 264px;
      font-size: 14px;
    }
  }
}