.main-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #b06d30 url(../img/sand.jpg);

  &__content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}