.main-nav {
  width: 100%;
  &__items {
    @include list-style;
    display: flex;
    background-color: #e1c58c;
  }

  &__item {
    margin-right: 2px;
    //flex: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding: 14px 31px;
    font-family: $robotomedium;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #e7a731;
    transition: $decor-animation-delay;

    &:hover {
      background-color: #cc8820;
    }

    @include tablet {
      padding: 14px 25.9px;
    }

    @include phone {
      padding: 14px 18px;
    }
  }
}