.main-container {
  position: relative;
  min-width: 320px;
  overflow: hidden;

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#e7a731, 0.87);
    z-index: 50;
    @include hiddenElement;
  }

  &__overlay-close {
    position: fixed;
    top: 23px;
    right: 30px;
  }

  &__fullscreen-menu {
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__swipe-sidebar {
    display: none;
    position: absolute;
    top: 0;
    left: -284px;
    bottom: 0;
    z-index: 100;
    transition: $decor-animation-delay;
  }

  &__content-wrapper {
    transition: $decor-animation-delay;
  }

/*  &--blog {
  }*/

  @include phone {

    &__swipe-sidebar {
      display: block;
    }
  }
}