.main-wrapper {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
  background: #b06d30 url(../img/sand.jpg);
  background-size: cover;
  min-width: 320px;

  &__header {
    grid-area: header;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: content;
  }

  &__developer-card {
    padding-top: 40px;
  }

  &__flip-container {
    display: flex;
    position: relative;
    width: 382px;
    height: 421px;
    transition: transform 0.6s, opacity 0.3s, visibility 0.3s;
    transform-style: preserve-3d;

    &--fliped .main-wrapper__welcome-side {
      transform: rotateY(180deg);
      opacity: 0;
      visibility: hidden;
      //z-index: -10;
    }

    &--fliped .main-wrapper__logon-side {
      transform: rotateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &__welcome-side, &__logon-side {
    transition: 0.6s;
    transform-style: preserve-3d;
    z-index: 10;
  }

  &__welcome-side {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }

  &__logon-side {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(-180deg);
    opacity: 0;
    visibility: hidden;
  }

  &__footer {
    grid-area: footer;
  }

  @include tablet {
    &__flip-container {
      width: 350px;
      height: 383px;
    }
  }

  @include phone {
    &__flip-container {
      width: 303px;
      height: 372px;
    }
  }
}