.map {
  position: relative;
  width: 100%;

  &__image {
    display: block;
    width: 100%;
    min-height: 150px;
  }

  &__contacts {
    @include absolute-center;
    background-color: rgba(#fcfcfc, 0.85);
    border-radius: 5px;
  }

  &__contacts-wrapper {
    padding: 0 72px 30px 40px;
  }

  &__contacts-header {
    text-align: center;
  }

  &__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @include tablet {
    min-height: 745px;

    &__contacts {
      top: 112px;
      transform: translate(-50%, 0);
    }

    &__contacts-wrapper {
      padding: 0 39px 20px 40px;
    }
  }
}