.socials {
  display: inline-flex;

  &__items {
    @include list-style;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
  }

  &__image {
    display: block;
    opacity: 0.7;
    fill: #fff;
    transition: $decor-animation-delay;

    &:hover {
      opacity: 1;
    }

    &--vk {
      width: 30.011px;
      height: 17.123px;
    }

    &--github {
      width: 26px;
      height: 22px;
    }

    &--in {
      width: 24px;
      height: 22.938px;
    }
  }

  &--header {
    .socials__image {
      opacity: 1;

      &:hover {
        fill: #cd8920;
      }
    }
  }

  @include phone {
    &__item {
      margin-right: 33px;
    }

    &--header {
      .socials__image {
        &--vk {
          width: 22.152px;
          height: 12.500px;
        }

        &--github {
          width: 19px;
          height: 16px;
        }

        &--in {
          width: 18px;
          height: 16.938px;
        }
      }
    }
  }
}