.works-slider {
  //display: flex;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
  grid-template-areas:
    "info slide"
    "info navigation";


  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: info;
    box-sizing: border-box;
    background-color: #f4f0e9;
  }

  &__technologies {
    display: inline-block;
    margin: 0;
    margin-bottom: 41px;
    padding: 16px 110px;
    font-family: $robotomedium;
    font-size: 16px;
    color: #cd8920;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #aeaeab;
    border-bottom: 1px solid #aeaeab;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 0 40px;
    grid-area: slide;
    background-color: #ebe5db;

    @include small-desktop {
      padding: 114px 64px 117px;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
  }

  &__navigation-slides {
    display: flex;
    min-height: 220px;
    grid-area: navigation;
  }

  &__navigation-slide {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    flex: 1;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.7;
    }

    &--prev::before {
      background-color: #c3bdae;
    }

    &--next::before {
      background-color: #8d8367;
    }

    &:hover .works-slider__navigation-arrow {
      opacity: 1;
    }
  }

  &__navigation-arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 42.736px;
    height: 27.435px;
    transform: translate(-50%, -50%);
    z-index: 10;
    fill: #fff;
    opacity: 0.7;
    transition: $decor-animation-delay;
  }

  @include tablet {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "slide"
      "info"
      "navigation";

    &__info {
      padding: 20px 0 60px;
    }

    &__technologies {
      margin-bottom: 10px;
    }

    &__slide {
      padding: 105px 77px 45px;
    }
  }

  @include phone {

    &__info {
      padding-bottom: 26px;
    }

    &__technologies {
      margin-bottom: 20px;
      padding: 7px 0;
      width: 100%;
      font-size: 14px;
    }

    &__slide {
      padding: 49px 36px 45px;
    }

    &__navigation-slides {
      min-height: initial;
    }
  }
}